
h1 {
  font-size: 85px;
}
.title {
  color:red;
}
.uppercase {
  text-transform: uppercase;
}
#article-title {
  font-family: cursive;
  text-transform: capitalize;
}  
.uppercase {
  text-transform: uppercase;
}
p {
 font-family: Algerian;
}  
body {
  background-color: blue;
}  
